body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6; 
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.loading-dots div {
    animation:-morse-code 1s infinite
}
@keyframes -morse-code {
    0%, 100% { opacity: 1 }
    50% { opacity: 0.2 }
}
